body {
    font-family: "Roboto", sans-serif ;
}
body {
    color: #434455;
    width: 1158px;
}
body {
    background-color: #FFFFFF;
} 
.header-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #E7E9FC;
   
    padding-top: 24px;
    padding-bottom: 24px;
        
}

#nav-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 15px;
    padding-right: 15px;
    
}

#nav-connections {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    width: 261px;
    align-items: center;
    list-style-type: none;
    padding-left: 200px;
    gap: 40px;
    
}

#nav-container a {
    display: flex;
     flex-direction: row;
    text-decoration: none;
    list-style-type: none;
}

#mailto-address{
list-style-type: none;
width: 151px;   
}

#mailto-address a{
    text-decoration: none;
    
}

#tel-address{
list-style-type: none;
width: 151px;
margin-right: 0px;
    
}
#tel-address a{
    text-decoration: none;  
}

ul#address-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-right: 40px;
    
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    width: 71px;
    margin-right: 76px;
       
}
span {
    color: #2e2f42;
    
}

.header-list-first {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
nav a:hover {
    color: #404bbf;
   
}

nav a:focus {
    color: #404bbf;
    
}

.address-list {
font-style: normal;

}

.first-address {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-list :hover {
    color: #404bbf;
}
.address-list :focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;
  
}


#first-section-container {
    display: flex;
    flex-direction: column;
   align-items: center;

    
}

#first-section-main-container{
display: flex;
    flex-direction: column;
align-items: center;
padding-top: 200px;
padding-bottom: 200px;
}
.first-section-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 496px;
}
.button-text {
    background-color: #4D5AE5;
    font-family: "Roboto" ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding-top: 10px; 
    padding-bottom: 10px;  
               margin-left: auto;
        margin-right: auto;
             
}

button:hover {
    background-color: #404BBF;
}
button:focus {
    background-color: #404BBF;
}
#features-section-container{
display: flex;
    flex-direction: row;

}
#features-section-container-header{
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
   gap: 10px;
}
ul#features-section-container-header{
    list-style-type: none;
}
#hidden-header{
    display: none;
}
.features-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;   

}
.first-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-section {
  background-color: #F4F4FD;  
  padding: 120px 0;
  
}
.team-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}
.team-card-container li{
    list-style-type: none;
   justify-content: space-evenly;
    margin-right: 24px;
    gap: 24px;

}
.team-card-container li:last-child{
    margin-right: 0;
}
#team-card-main-container{
    display: block;
  
}
.team-card-border-container{
    padding: 32px 0;
}
.team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-top: 110px;
    padding-bottom: 50px;
    margin-bottom: 72px;
}
.team-card {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px
}

.team-sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;

}
.second-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

}
.portfolio-container{
    padding-top: 120px;
    padding-bottom: 120px;
}
#portfolio-cards-container{
display: block;  
}
.portfolio-cards-main-container{
    display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.portfolio-cards-main-container li{
    list-style-type: none;
    border: 1px;
    column-gap: 24px;
    row-gap: 48px;
    margin-bottom: 48px;
    
}
.portfolio-cards-main-container li:nth-child(3){
  margin-right: 0;
}
.portfolio-cards-main-container li:nth-child(6) {
    margin-right: 0;
}
.portfolio-card-borders li:first-child{
    width: calc((100% - 48px) / 3);
    
}
.portfolio-cards-main-container li:nth-child(4){
    margin-bottom: 0;
}
.portfolio-cards-main-container li:nth-child(5) {
    margin-bottom: 0;
}
.portfolio-cards-main-container li:nth-child(6) {
    margin-bottom: 0;
}
.portfolio-card-borders li:last-child {
    margin-right: 0;
}


.portfolio-card-border-containers{
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
    margin-bottom: 8px;
}
.portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  margin-bottom: 72px;
  
}
.portfolio-sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px

}
.portfolio-text {
   line-height: 1.5; 
   letter-spacing: 0.02em;

}

#footer-container{
    display: block;
   

}

#footer-main-container{
    display: flex;
    flex-direction: column;
    
    padding-left:65px ;

}

.footer-text-container{
    max-width:264px;
}
.footer {
background-color: #2e2f42;
padding-top: 100px;
    padding-bottom: 100px;

}
.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1, 17;
    letter-spacing: 0, 03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}
span.studio-second {
    color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;  
  color: #F4F4FD;
  letter-spacing: 0.02em;
}