body {
    font-family: "Roboto", sans-serif ;
}
body {
    color: #434455;
}
body {
    background-color: #FFFFFF;
} 
#header-container{
   display: flex;
   flex-direction: row;
  justify-content: space-evenly;
  width: 1158px;
  height: 72px;
  border: 0px,0px,1px,0px;
  padding-left: 10px;
  
     
}

#nav-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
   
}
#nav-connections {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    width: hug(261px);
    align-items: center;
    list-style-type: none;
    padding-left: 200px;
    gap: 40px;
}

#nav-container a {
    display: flex;
     flex-direction: row;
    text-decoration: none;
    list-style-type: none;

}
#mailto-address{
list-style-type: none;
width: 151px;
    height: 24px;
    
}
#mailto-address a{
    text-decoration: none;
    
}

#tel-address{
list-style-type: none;
width: 151px;
    height: 24px;
}
#tel-address a{
    text-decoration: none;  
}
ul#address-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    padding-left: 70px;
    padding-top: 8px;
 
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    width: 71px;
    height: 21px;
    padding-top: 24px;
       
}
span {
    color: #2e2f42;
}

.header-list-first {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
nav a:hover {
    color: #404bbf;
   
}

nav a:focus {
    color: #404bbf;
    
}

.address-list {
font-style: normal;

}

.first-address {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-list :hover {
    color: #404bbf;
}
.address-list :focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;
    width: 1158px;
   height: 600px;
}


#first-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

     padding-top: 230px;
     padding-bottom: 260px;
     padding-left: 250px;
    
}


.first-section-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 496px;
   
  

}
.button-text {
    background-color: #4D5AE5;
    font-family: "Roboto" ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding-top: 10px; 
    padding-bottom: 10px;  
               margin-left: auto;
        margin-right: auto;
             
}
#button-container{
    
}


button:hover {
    background-color: #404BBF;
}
button:focus {
    background-color: #404BBF;
}
.features-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;    
}
.first-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-section {
  background-color: #F4F4FD;  
}
.team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-card {
    background-color: #FFFFFF;
}

.team-sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.second-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio-sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.portfolio-text {
   line-height: 1.5; 
   letter-spacing: 0.02em;

}



.footer {
background-color: #2e2f42;

}
.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1, 17;
    letter-spacing: 0, 03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
}
span.studio-second {
    color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;  
  color: #F4F4FD;
  letter-spacing: 0.02em;
}